.DS_Store
/dist

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter notebook
.ipynb_checkpoints/

# Back end
back-end/users
back-end/__pycache__

# Front end
front-end/node_modules

